body {
	background-color: #1414de;
}

footer {
	text-align: left;
	background-color: #fff;
	border: solid 1px black;
}	

h6 {
	color: black;
}

#picContainer {
	margin: 1em 0 0 2.5em;
	position: relative;
}

#companyName {
	font-size: 36px;
	color: black;
	text-align: center;
}

#sideMenu {
	float: left;
	margin: 0 0 0 1em;
	background-color: #fff;
	width: 20%;
	border: solid 2px black;
}

#sideMenuh3 {
	color: red;
}

.mainMenu {
	top: 3em;
	float: right;
	background-color: #fff;
	position: relative;
	padding: 0 1em 0 0;
	border-radius: 2em;
	box-shadow: 1em 1em 5em #777;
}

section p#itemText {
	font-size: 10px;
}

.itemBox {
	float: right;
	position: relative;
	margin: 1em;
	width: 300px;
	height: 300px;
	padding: .2em;
	border: solid 1px black;
	background-color: #fff;
}

.itemPic {
	position: relative;
	width: 292px;
	height: 170px;
	border: solid 1px black;
}

div.clear{
	clear: both;
	font-size: 1%;
}
